<div id="ribbits" class="panel left">
    <h1>Public Profile</h1>
    <% @users.each do |user| %>
    <div class="ribbitWrapper">
        <a href="<%= user_path user %>">
        <img class="avatar" src="<%= user.avatar_url %>">
        <span class="name"><%= user.name %></span>
        </a>
        @<%= user.username %>
        <p>
        <%= user.tweets.size %> Tweets
        <span class="spacing"><%= user.follower.count %> Followers</span>
        <span class="spacing"><%= user.followed.count %> Following</span>
        </p>
        <% if user.tweets.first %>
        <p><%= user.tweets.first.content %></p>
        <% end %>
    </div>
    <% end %>
</div>